.search-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
  }
  
  .input {
    max-height: 30px;
    max-width: 1900px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    animation: rotateShadow 2s infinite linear;
  }
  

  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 8px 1px #ffb700, 2px 2px 8px 1px #ffffff;
    }
    25% {
      box-shadow: -2px 2px 8px 1px #ffb700, 2px -2px 8px 1px #ffffff;
    }
    50% {
      box-shadow: 2px 2px 8px 1px #ffb700, -2px -2px 8px 1px #ffffff;
    }
    75% {
      box-shadow: 2px -2px 8px 1px #ffb700, -2px 2px 8px 1px #ffffff;
    }
    100% {
      box-shadow: -2px -2px 8px 1px #ffb700, 2px 2px 8px 1px #ffffff;
    }
  }

  @media screen and (max-width: 1221px) {
    .input {
      display: flex;
      width: 150px;
      margin-left: 50px;
      
    }
    .btn{
      margin: auto;
    }
  }

  .Book-store{

    font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  }
  .btn{
    height: 100px;
  }


.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: #ffbb00;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
 
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--animation-color))
  }


